{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Available properties</h1>

        <table id="dataTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Likes</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.id }}</td>
                    <td>{{ property.name }}</td>
                    <td>{{ property.description }}</td>
                    <td>{{ property.likes }}</td>
                    <td>
                        <a href="{{ path('property_show', {'id': property.id}) }}" class="rounded-circle btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and property.owner.id == app.user.id %}
                            <a href="{{ path('property_edit', {'id': property.id}) }}" class="rounded-circle btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
