{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="d-inline">{{ property.name }}</h1>&nbsp
        <div id="property-id" hidden>{{ property.id }}</div>

        <button id="property-like-button" class="d-inline btn btn-sm btn-block btn-primary" style="margin-bottom: 15px;">
            <i class="fa fa-thumbs-up"></i>
        </button>
        <p id="property-likes" class="d-inline">{{ property.likes }}</p>

        <p>{{ property.description }}</p>

        <a href="{{ path('room_new', {'id': property.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> New room</a>

        <a href="{{ path('property_edit', {'id': property.id}) }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Edit property</a>

        <table id="dataTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Type</th>
                    <th>Beds</th>
                    <th>Price</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
            {% for room in property.rooms %}
                <tr>
                    <td>{{ room.adultsCapacity }}</td>
                    <td>{{ room.childrenCapacity }}</td>
                    <td>{{ room.roomType.name }}</td>
                    <td>
                        {% for bed in room.roomBeds %}
                            {{ bed.bed }}
                            {% if loop.index + 1 < room.roomBeds|length %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>${{ room.basePrice / 1000}}/night</td>
                    <td>
                        <a href="#" class="rounded-pill btn btn-warning btn-sm"><i class="fa fa-calendar" aria-hidden="true"></i> Book now</a>
                        <a href="{{ path('room_show', {'id': room.id}) }}" class="rounded-circle btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('property_index') }}" class="rounded-pill btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
    </div>
{% endblock %}
