{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ property.name }}</h1>

        <p>{{ property.description }}</p>

        <table id="dataTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Type</th>
                    <th>Beds</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for room in property.rooms %}
                <tr>
                    <td>{{ room.adultsCapacity }}</td>
                    <td>{{ room.childrenCapacity }}</td>
                    <td>{{ room.roomType.name }}</td>
                    <td>
                        {% for bed in room.roomBeds %}
                            {{ bed.bed }}
                            {% if loop.index + 1 < room.roomBeds|length %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ room.basePrice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('room_new', {'id': property.id}) }}">New room</a>

        <a href="{{ path('property_index') }}">back to list</a>

        <a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>

        {{ include('property/_delete_form.html.twig') }}
    </div>
{% endblock %}
